// /**
//  * Copyright � Olegnax (http://olegnax.com/). All rights reserved.
//  */

//
//  Variables
//  _____________________________________________

@ox-gmap--width: 100%;
@ox-gmap--height: 450px;

@ox-gmap__popup--max-width: 420px;
@ox-gmap__popup--padding: 14px;
@ox-gmap__popup--font-size: 14px;
@ox-gmap__popup--font-weight: 400;

@marker_shape_size: 70px;
@marker_shape_bg: #ff542b;
